@import url(bootstrap.min.css);
@import url(fonts_reset.css);
@import url(jquery-ui.css);
a,
input[type='submit'] {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer; }

.tac {
  text-align: center; }

header {
  background-color: #ffffff;
  padding: 20px 0;
  position: relative; }
  header:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #6ebff3; }
  header .header-links-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 18px 0; }
    header .header-links-block .social-links {
      display: inline-flex;
      align-items: center;
      margin-right: 15px; }
      header .header-links-block .social-links span {
        font-size: 14px;
        color: #838995;
        margin-right: 7px; }
      header .header-links-block .social-links a {
        display: inline-flex;
        margin-right: 7px; }
        header .header-links-block .social-links a svg {
          width: 25px;
          height: 25px;
          fill: #6ebff3;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -ms-transition: 0.3s all;
          -o-transition: 0.3s all;
          transition: 0.3s all;
          opacity: 0.8; }
        header .header-links-block .social-links a:hover svg {
          opacity: 1; }
        header .header-links-block .social-links a:last-child {
          margin-right: 0; }
    header .header-links-block .acc-btns span {
      font-size: 14px;
      color: #838995; }
      header .header-links-block .acc-btns span.user {
        color: #000000;
        margin-right: 10px; }
    header .header-links-block .acc-btns a {
      position: relative;
      color: #6ebff3;
      opacity: 0.8; }
      header .header-links-block .acc-btns a:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #6ebff3;
        opacity: 0.8; }
      header .header-links-block .acc-btns a:hover, header .header-links-block .acc-btns a:hover::after {
        opacity: 1; }

.index-header {
  z-index: 1;
  height: 625px;
  padding: 0; }
  .index-header .stub {
    background-attachment: fixed;
    z-index: -10;
    left: 0;
    bottom: 0;
    width: 100% !important;
    -o-object-fit: contain;
    object-fit: contain; }
  .index-header .over-stub-text {
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto; }
  .index-header a.logo {
    display: block;
    width: 230px;
    height: 60px;
    margin: 0 auto; }
    .index-header a.logo img {
      -o-object-fit: cover;
      object-fit: cover; }
  .index-header .btns {
    margin: 30px 0; }
    .index-header .btns .main-btn:first-child {
      margin-right: 20px; }

.main-title {
  font-size: 75px;
  color: #ffffff;
  text-align: center; }

.title {
  font-size: 35px;
  color: #ffffff;
  text-align: center; }

p.colored-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 65px;
  color: #404040; }
  p.colored-title i {
    font-style: normal;
    color: #6ebff3; }
  p.colored-title svg {
    width: 50px;
    height: 50px;
    fill: #404040;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    margin-right: 10px; }
  p.colored-title:hover svg {
    fill: #6ebff3; }

p.page-sub-title {
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  color: #737373; }
  p.page-sub-title a.main-link {
    font-size: 22px; }

p.page-sub-title {
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  color: #737373; }
  p.page-sub-title a.main-link {
    font-size: 22px; }

.text {
  padding: 15px 0; }
  .text p {
    color: #737373;
    font-size: 16px;
    line-height: 32px;
    padding: 10px 0; }
  .text b {
    font-weight: 700; }

.main-btn {
  display: inline-block;
  border: 1px solid #6ebff3;
  color: #6ebff3;
  background-color: transparent;
  padding: 10px 25px;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .main-btn:hover {
    background-color: #6ebff3;
    color: #ffffff; }
  .main-btn.invert {
    border: 1px solid #ffffff;
    color: #ffffff; }
    .main-btn.invert:hover {
      background-color: #ffffff;
      color: #6ebff3; }

.main-link {
  color: #6ebff3;
  opacity: 1;
  font-size: 14px; }
  .main-link:hover {
    opacity: 0.7; }

.advantages {
  padding: 40px 0;
  background-color: #f9f8f8;
  position: relative;
  z-index: 10; }
  .advantages .advantages-block {
    display: flex;
    flex-wrap: wrap; }
    .advantages .advantages-block .advantages-block__item {
      margin: 40px 0;
      width: 380px;
      display: inline-flex; }
      .advantages .advantages-block .advantages-block__item .svg-block {
        width: 80px;
        height: 80px;
        margin-right: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #cecece;
        background-color: #ffffff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all; }
        .advantages .advantages-block .advantages-block__item .svg-block svg {
          width: 40px;
          height: 40px;
          fill: #6ebff3;
          -webkit-transition: 0.3s all;
          -moz-transition: 0.3s all;
          -ms-transition: 0.3s all;
          -o-transition: 0.3s all;
          transition: 0.3s all; }
      .advantages .advantages-block .advantages-block__item .advantages-block__item-text {
        width: 270px; }
        .advantages .advantages-block .advantages-block__item .advantages-block__item-text p {
          font-size: 20px;
          color: #404040;
          padding-bottom: 10px; }
        .advantages .advantages-block .advantages-block__item .advantages-block__item-text span {
          font-size: 14px;
          color: #737373;
          line-height: 20px; }
          .advantages .advantages-block .advantages-block__item .advantages-block__item-text span svg.currency {
            width: 10px;
            height: 10px;
            fill: #737373; }
      .advantages .advantages-block .advantages-block__item:hover .svg-block {
        background-color: #6ebff3; }
        .advantages .advantages-block .advantages-block__item:hover .svg-block svg {
          fill: #ffffff; }

.statistics {
  background: url("/images/bg-mountain-water.jpg") center top no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 80px 0; }
  .statistics .stat-block {
    display: flex;
    justify-content: center;
    padding: 20px 0; }
    .statistics .stat-block .stat-block__item {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 50px; }
      .statistics .stat-block .stat-block__item svg {
        width: 80px;
        height: 80px;
        fill: #ffffff; }
      .statistics .stat-block .stat-block__item p {
        font-size: 45px;
        color: #ffffff;
        padding: 10px 0; }
      .statistics .stat-block .stat-block__item span {
        font-size: 18px;
        color: #ffffff;
        line-height: 22px; }
        .statistics .stat-block .stat-block__item span svg.currency {
          width: 15px;
          height: 15px;
          fill: #ffffff; }

.still-thinking {
  padding: 80px 0; }
  .still-thinking p.sub-title {
    font-size: 22px;
    line-height: 36px;
    color: #737373; }
  .still-thinking .left-img {
    margin: 30px 0;
    display: flex;
    align-items: center; }
    .still-thinking .left-img img {
      width: 380px;
      height: 295px;
      -o-object-fit: cover;
      object-fit: cover;
      margin-right: 30px; }
    .still-thinking .left-img p {
      width: 725px;
      font-size: 22px;
      line-height: 36px;
      color: #737373; }
    .still-thinking .left-img a.main-link {
      font-size: 22px; }
  .still-thinking .right-img {
    display: flex;
    align-items: center; }
    .still-thinking .right-img img {
      width: 380px;
      height: 295px;
      -o-object-fit: cover;
      object-fit: cover;
      margin-left: 30px; }
    .still-thinking .right-img p {
      width: 725px;
      font-size: 22px;
      line-height: 36px;
      color: #737373;
      text-align: right; }
    .still-thinking .right-img a.main-link {
      font-size: 22px; }

.plans {
  background: url("/images/bg-car-water.jpg") center top no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 80px 0; }
  .plans .plans-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 0; }
    .plans .plans-block .plans-block__item {
      margin: 15px 30px 15px 0;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 40px;
      border: 1px solid #ffffff;
      background-color: transparent;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
      .plans .plans-block .plans-block__item .name {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 15px; }
      .plans .plans-block .plans-block__item .days {
        color: #ffffff;
        font-size: 18px;
        padding: 10px 0; }
      .plans .plans-block .plans-block__item .percent {
        color: #ffffff;
        font-size: 18px;
        padding: 10px 0; }
      .plans .plans-block .plans-block__item .total {
        color: #ffffff;
        font-size: 18px;
        padding: 10px 0; }
      .plans .plans-block .plans-block__item:nth-child(4n), .plans .plans-block .plans-block__item:last-child {
        margin-right: 0; }
      .plans .plans-block .plans-block__item a.main-btn {
        margin-top: 15px; }
      .plans .plans-block .plans-block__item:hover {
        background-color: #ffffff; }
        .plans .plans-block .plans-block__item:hover .name,
        .plans .plans-block .plans-block__item:hover .days,
        .plans .plans-block .plans-block__item:hover .percent,
        .plans .plans-block .plans-block__item:hover .total {
          color: #737373; }

.profit-q {
  padding: 30px 0 80px; }
  .profit-q .profit-q-block {
    display: flex;
    justify-content: space-between; }
    .profit-q .profit-q-block .profit {
      width: 48%; }
      .profit-q .profit-q-block .profit p.colored-title {
        font-size: 45px;
        justify-content: flex-start;
        padding-bottom: 20px; }
        .profit-q .profit-q-block .profit p.colored-title svg {
          width: 40px;
          height: 40px; }
    .profit-q .profit-q-block .index-faq {
      width: 48%; }
      .profit-q .profit-q-block .index-faq p.colored-title {
        font-size: 45px;
        justify-content: flex-start;
        padding-bottom: 20px; }
        .profit-q .profit-q-block .index-faq p.colored-title svg {
          width: 40px;
          height: 40px; }
      .profit-q .profit-q-block .index-faq .panel-group a {
        background-color: #6ebff3;
        padding: 15px 20px;
        color: #ffffff;
        font-size: 18px;
        line-height: 24px;
        display: block; }
      .profit-q .profit-q-block .index-faq .panel-group .question-item {
        padding: 15px 20px;
        color: #737373;
        font-size: 16px;
        line-height: 24px;
        background-color: #f9f8f8; }

footer {
  background-color: #6ebff3;
  padding: 30px 0; }
  footer .footer-block {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    footer .footer-block p {
      font-size: 22px;
      color: #ffffff;
      margin-right: 30px; }
    footer .footer-block .btns a.main-btn {
      margin-right: 15px; }
      footer .footer-block .btns a.main-btn:last-child {
        margin-right: 0; }

.login-page .login-page__form {
  display: flex;
  flex-direction: column;
  padding: 40px 0 60px; }
  .login-page .login-page__form .input-block {
    position: relative;
    margin: 10px 0; }
    .login-page .login-page__form .input-block input {
      width: 100%;
      padding: 10px 40px;
      font-size: 20px;
      color: #8b8b8b;
      border: 1px solid #8b8b8b; }
    .login-page .login-page__form .input-block svg {
      position: absolute;
      left: 15px;
      top: 17px;
      width: 15px;
      height: 15px;
      fill: #8b8b8b; }
  .login-page .login-page__form input[type='submit'] {
    background-color: #707070;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    border: 0;
    margin-top: 10px; }
    .login-page .login-page__form input[type='submit']:hover {
      background-color: #6ebff3; }
  .login-page .login-page__form a.main-link {
    display: inline-block;
    margin: 10px auto; }
  .login-page .login-page__form .check_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0 auto; }
    .login-page .login-page__form .check_block span {
      font-size: 14px;
      color: #8b8b8b;
      margin-right: 7px;
      font-weight: 400; }
    .login-page .login-page__form .check_block input[type='checkbox'] {
      margin: 0; }
  .login-page .login-page__form p.note {
    text-align: center;
    color: #8b8b8b;
    font-size: 14px;
    margin: 10px 0; }

.page {
  padding: 40px 0; }
  .page p.colored-title {
    padding: 0 0 15px; }
  .page p.page-sub-title {
    padding: 0 0 30px; }

.user-top-block {
  background: url("/images/b-cabinet-top.jpg") no-repeat center 100%;
  -webkit-background-size: cover;
  background-size: cover; }
  .user-top-block .user-info {
    padding: 40px 0; }
    .user-top-block .user-info p.name {
      font-size: 30px;
      text-transform: uppercase;
      color: #ffffff;
      padding-bottom: 15px; }
    .user-top-block .user-info p.balance {
      font-size: 24px;
      color: #ffffff; }
      .user-top-block .user-info p.balance svg.currency {
        width: 14px;
        height: 17px;
        fill: #ffffff; }
  .user-top-block p.name-page {
    font-size: 42px;
    padding: 0 0 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff; }
  .user-top-block .horizontal-menu {
    display: flex; }
    .user-top-block .horizontal-menu a {
      display: inline-flex;
      align-items: center;
      width: 230px;
      background-color: rgba(255, 255, 255, 0.3);
      margin-right: 20px; }
      .user-top-block .horizontal-menu a b {
        background-color: rgba(255, 255, 255, 0.3);
        width: 50px;
        height: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        margin-right: 20px; }
        .user-top-block .horizontal-menu a b svg {
          width: 30px;
          height: 30px;
          fill: #ffffff; }
      .user-top-block .horizontal-menu a span {
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all; }
      .user-top-block .horizontal-menu a:hover, .user-top-block .horizontal-menu a.active {
        background-color: white; }
        .user-top-block .horizontal-menu a:hover b, .user-top-block .horizontal-menu a.active b {
          background-color: #6ebff3; }
        .user-top-block .horizontal-menu a:hover span, .user-top-block .horizontal-menu a.active span {
          color: #6ebff3; }
      .user-top-block .horizontal-menu a:last-child {
        margin-right: 0; }

.vertical-menu a {
  background-color: #eaedef;
  color: #797d7f;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 230px;
  padding: 10px 20px;
  margin: 5px 0; }
  .vertical-menu a svg {
    width: 25px;
    height: 25px;
    fill: #797d7f;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    margin-right: 15px; }
  .vertical-menu a:hover, .vertical-menu a.active {
    background-color: #00a513;
    color: #ffffff; }
    .vertical-menu a:hover svg, .vertical-menu a.active svg {
      fill: #ffffff; }

.internal-page-block p.title {
  font-size: 30px;
  padding-bottom: 15px;
  color: #35b5eb;
  text-transform: uppercase;
  text-align: left; }
.internal-page-block .personal-data {
  border: 1px solid #a8adb0;
  padding: 20px;
  width: 500px; }
  .internal-page-block .personal-data .input_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0; }
    .internal-page-block .personal-data .input_block p {
      font-size: 16px;
      color: #a8adb0; }
    .internal-page-block .personal-data .input_block b {
      font-size: 16px;
      color: #a8adb0;
      font-weight: 700; }
.internal-page-block .user-form {
  padding: 30px 0 0;
  width: 500px; }
  .internal-page-block .user-form p.type-name {
    font-size: 18px;
    font-weight: 700;
    color: #35b5eb;
    padding: 20px 0; }
  .internal-page-block .user-form .input_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0; }
    .internal-page-block .user-form .input_block p {
      font-size: 14px;
      color: #000000; }
    .internal-page-block .user-form .input_block input {
      padding: 7px 15px;
      border: 1px solid #a8adb0;
      color: #a8adb0;
      font-size: 14px;
      width: 300px; }
  .internal-page-block .user-form input[type='submit'] {
    margin: 10px auto;
    padding: 7px 20px;
    background-color: #707070;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    border: 0; }
    .internal-page-block .user-form input[type='submit']:hover {
      background-color: #6ebff3; }
.internal-page-block .one-line-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0; }
  .internal-page-block .one-line-form input,
  .internal-page-block .one-line-form select {
    padding: 7px 15px;
    border: 1px solid #a8adb0;
    color: #a8adb0;
    font-size: 14px; }
  .internal-page-block .one-line-form input.summ {
    width: 100px; }
  .internal-page-block .one-line-form select {
    padding: 6px 15px; }
  .internal-page-block .one-line-form input[type='submit'] {
    padding: 5px 20px 6px;
    background-color: #707070;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border: 0; }
    .internal-page-block .one-line-form input[type='submit']:hover {
      background-color: #6ebff3; }
  .internal-page-block .one-line-form.short {
    justify-content: space-around; }
    .internal-page-block .one-line-form.short input.summ {
      width: auto; }
.internal-page-block .user-table {
  margin: 40px 0; }
  .internal-page-block .user-table table {
    width: 100%;
    text-align: center; }
    .internal-page-block .user-table table th {
      border-bottom: 1px solid #35b5eb;
      font-size: 18px;
      color: #35b5eb;
      padding: 10px 0;
      text-align: center; }
      .internal-page-block .user-table table th svg.currency {
        width: 15px;
        height: 15px;
        fill: #35b5eb; }
    .internal-page-block .user-table table td {
      font-size: 16px;
      color: #a8adb0;
      padding: 5px 0; }
      .internal-page-block .user-table table td.wide-td {
        background-color: #eaedef;
        color: #000000; }
.internal-page-block .ref-link {
  display: flex;
  align-items: center;
  background-color: #eaedef;
  color: #797d7f;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 15px; }
  .internal-page-block .ref-link span {
    margin-left: 7px;
    color: #6ebff3;
    font-size: 18px; }
.internal-page-block .ref-data {
  background-color: #eaedef;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 15px; }
  .internal-page-block .ref-data .input_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0; }
    .internal-page-block .ref-data .input_block p {
      color: #797d7f;
      font-size: 16px; }
    .internal-page-block .ref-data .input_block b {
      font-weight: 700;
      color: #000000;
      font-size: 16px; }
      .internal-page-block .ref-data .input_block b svg.currency {
        width: 10px;
        height: 12px;
        fill: #000000; }
.internal-page-block .news-block {
  display: flex;
  flex-direction: column; }
  .internal-page-block .news-block .news-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #35b5eb;
    margin-bottom: 30px; }
    .internal-page-block .news-block .news-item:last-child {
      margin-bottom: 0;
      border-bottom: 0; }
    .internal-page-block .news-block .news-item p.name {
      font-size: 22px;
      color: #35b5eb; }
    .internal-page-block .news-block .news-item .description img {
      float: right; }
.internal-page-block form.support {
  width: 500px; }
  .internal-page-block form.support input {
    width: 48%;
    padding: 7px 15px;
    border: 1px solid #a8adb0;
    color: #a8adb0;
    font-size: 14px;
    margin: 15px 0 7px; }
    .internal-page-block form.support input:first-child {
      margin-right: 16px; }
  .internal-page-block form.support textarea {
    width: 100%;
    margin: 15px 0;
    padding: 7px 15px;
    border: 1px solid #a8adb0;
    color: #a8adb0;
    font-size: 14px;
    height: 150px; }
  .internal-page-block form.support input[type='submit'] {
    margin: 10px auto;
    padding: 7px 20px;
    background-color: #707070;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    border: 0; }
    .internal-page-block form.support input[type='submit']:hover {
      background-color: #6ebff3; }

.user-footer {
  background-color: #444a54; }
  .user-footer .footer-block {
    justify-content: center;
    flex-wrap: wrap; }
    .user-footer .footer-block a svg {
      width: 130px;
      height: 40px;
      fill: #ffffff;
      opacity: 0.8;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
    .user-footer .footer-block a:hover svg {
      opacity: 1; }

/*# sourceMappingURL=style.css.map */
