@import "bootstrap.min.css"
@import "fonts_reset.css"
@import "jquery-ui.css"

a,
input[type='submit']
    -webkit-transition: 0.3s all
    -moz-transition: 0.3s all
    -ms-transition: 0.3s all
    -o-transition: 0.3s all
    transition: 0.3s all
    cursor: pointer

.tac
    text-align: center
header
    background-color: #ffffff
    padding: 20px 0
    position: relative
    &:after
        position: absolute
        content: ''
        left: 0
        bottom: 0
        height: 1px
        width: 100%
        background-color: #6ebff3
    .header-links-block
        display: flex
        align-items: center
        justify-content: flex-end
        padding: 18px 0
        .social-links
            display: inline-flex
            align-items: center
            margin-right: 15px
            span
                font-size: 14px
                color: #838995
                margin-right: 7px
            a
                display: inline-flex
                margin-right: 7px
                svg
                    width: 25px
                    height: 25px
                    fill: #6ebff3
                    -webkit-border-radius: 50%
                    -moz-border-radius: 50%
                    border-radius: 50%
                    -webkit-transition: 0.3s all
                    -moz-transition: 0.3s all
                    -ms-transition: 0.3s all
                    -o-transition: 0.3s all
                    transition: 0.3s all
                    opacity: 0.8
                &:hover
                    svg
                        opacity: 1
                &:last-child
                    margin-right: 0
        .acc-btns
            span
                font-size: 14px
                color: #838995
                &.user
                    color: #000000
                    margin-right: 10px
            a
                position: relative
                color: #6ebff3
                opacity: 0.8
                &:after
                    position: absolute
                    content: ''
                    left: 0
                    bottom: 0
                    width: 100%
                    height: 1px
                    background-color: #6ebff3
                    opacity: 0.8
                &:hover,
                &:hover::after
                    opacity: 1
.index-header
    z-index: 1
    height: 625px
    padding: 0
    .stub
        background-attachment: fixed
        z-index: -10
        left: 0
        bottom: 0
        width: 100% !important
        -o-object-fit: contain
        object-fit: contain
    .over-stub-text
        text-align: center
        position: absolute
        top: 50%
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        transform: translateY(-50%)
        left: 0
        right: 0
        margin: auto
    a.logo
        display: block
        width: 230px
        height: 60px
        margin: 0 auto
        img
            -o-object-fit: cover
            object-fit: cover
    .btns
        margin: 30px 0
        .main-btn:first-child
            margin-right: 20px

.main-title
    font-size: 75px
    color: #ffffff
    text-align: center

.title
    font-size: 35px
    color: #ffffff
    text-align: center

p.colored-title
    display: flex
    justify-content: center
    align-items: center
    font-size: 65px
    color: #404040
    i
        font-style: normal
        color: #6ebff3
    svg
        width: 50px
        height: 50px
        fill: #404040
        -webkit-transition: 0.3s all
        -moz-transition: 0.3s all
        -ms-transition: 0.3s all
        -o-transition: 0.3s all
        transition: 0.3s all
        margin-right: 10px
    &:hover
        svg
            fill: #6ebff3

p.page-sub-title
    text-align: center
    font-size: 22px
    line-height: 36px
    color: #737373
    a.main-link
        font-size: 22px

p.page-sub-title
    text-align: center
    font-size: 22px
    line-height: 36px
    color: #737373
    a.main-link
        font-size: 22px

.text
    padding: 15px 0
    p
        color: #737373
        font-size: 16px
        line-height: 32px
        padding: 10px 0
    b
        font-weight: 700
.main-btn
    display: inline-block
    border: 1px solid #6ebff3
    color: #6ebff3
    background-color: transparent
    padding: 10px 25px
    font-size: 14px
    text-transform: uppercase
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    &:hover
        background-color: #6ebff3
        color: #ffffff
    &.invert
        border: 1px solid #ffffff
        color: #ffffff
        &:hover
            background-color: #ffffff
            color: #6ebff3

.main-link
    color: #6ebff3
    opacity: 1
    font-size: 14px
    &:hover
        opacity: 0.7

.advantages
    padding: 40px 0
    background-color: #f9f8f8
    position: relative
    z-index: 10
    .advantages-block
        display: flex
        flex-wrap: wrap
        .advantages-block__item
            margin: 40px 0
            width: 380px
            display: inline-flex
            .svg-block
                width: 80px
                height: 80px
                margin-right: 20px
                display: inline-flex
                justify-content: center
                align-items: center
                border: 1px solid #cecece
                background-color: #ffffff
                -webkit-border-radius: 50%
                -moz-border-radius: 50%
                border-radius: 50%
                -webkit-transition: 0.3s all
                -moz-transition: 0.3s all
                -ms-transition: 0.3s all
                -o-transition: 0.3s all
                transition: 0.3s all
                svg
                    width: 40px
                    height: 40px
                    fill: #6ebff3
                    -webkit-transition: 0.3s all
                    -moz-transition: 0.3s all
                    -ms-transition: 0.3s all
                    -o-transition: 0.3s all
                    transition: 0.3s all
            .advantages-block__item-text
                width: 270px
                p
                    font-size: 20px
                    color: #404040
                    padding-bottom: 10px
                span
                    font-size: 14px
                    color: #737373
                    line-height: 20px
                    svg.currency
                        width: 10px
                        height: 10px
                        fill: #737373
            &:hover
                .svg-block
                    background-color: #6ebff3
                    svg
                        fill: #ffffff

.statistics
    background: url('/images/bg-mountain-water.jpg') center top no-repeat fixed
    -webkit-background-size: cover
    background-size: cover
    padding: 80px 0
    .stat-block
        display: flex
        justify-content: center
        padding: 20px 0
        .stat-block__item
            display: inline-flex
            flex-direction: column
            align-items: center
            padding: 30px 50px
            svg
                width: 80px
                height: 80px
                fill: #ffffff
            p
                font-size: 45px
                color: #ffffff
                padding: 10px 0
            span
                font-size: 18px
                color: #ffffff
                line-height: 22px
                svg.currency
                    width: 15px
                    height: 15px
                    fill: #ffffff

.still-thinking
    padding: 80px 0
    p.sub-title
        font-size: 22px
        line-height: 36px
        color: #737373
    .left-img
        margin: 30px 0
        display: flex
        align-items: center
        img
            width: 380px
            height: 295px
            -o-object-fit: cover
            object-fit: cover
            margin-right: 30px
        p
            width: 725px
            font-size: 22px
            line-height: 36px
            color: #737373
        a.main-link
            font-size: 22px
    .right-img
        display: flex
        align-items: center
        img
            width: 380px
            height: 295px
            -o-object-fit: cover
            object-fit: cover
            margin-left: 30px
        p
            width: 725px
            font-size: 22px
            line-height: 36px
            color: #737373
            text-align: right
        a.main-link
            font-size: 22px
.plans
    background: url('/images/bg-car-water.jpg') center top no-repeat fixed
    -webkit-background-size: cover
    background-size: cover
    padding: 80px 0
    .plans-block
        display: flex
        flex-wrap: wrap
        justify-content: center
        padding: 20px 0 0
        .plans-block__item
            margin: 15px 30px 15px 0
            display: inline-flex
            flex-direction: column
            align-items: center
            padding: 20px 40px
            border: 1px solid #ffffff
            background-color: transparent
            -webkit-transition: 0.3s all
            -moz-transition: 0.3s all
            -ms-transition: 0.3s all
            -o-transition: 0.3s all
            transition: 0.3s all
            .name
                color: #ffffff
                font-size: 24px
                font-weight: 700
                padding-bottom: 15px
            .days
                color: #ffffff
                font-size: 18px
                padding: 10px 0
            .percent
                color: #ffffff
                font-size: 18px
                padding: 10px 0
            .total
                color: #ffffff
                font-size: 18px
                padding: 10px 0
            &:nth-child(4n),
            &:last-child
                margin-right: 0
            a.main-btn
                margin-top: 15px
            &:hover
                background-color: #ffffff
                .name,
                .days,
                .percent,
                .total
                    color: #737373

.profit-q
    padding: 30px 0 80px
    .profit-q-block
        display: flex
        justify-content: space-between
        .profit
            width: 48%
            p.colored-title
                font-size: 45px
                justify-content: flex-start
                padding-bottom: 20px
                svg
                    width: 40px
                    height: 40px
        .index-faq
            width: 48%
            p.colored-title
                font-size: 45px
                justify-content: flex-start
                padding-bottom: 20px
                svg
                    width: 40px
                    height: 40px
            .panel-group
                a
                    background-color: #6ebff3
                    padding: 15px 20px
                    color: #ffffff
                    font-size: 18px
                    line-height: 24px
                    display: block
                .question-item
                    padding: 15px 20px
                    color: #737373
                    font-size: 16px
                    line-height: 24px
                    background-color: #f9f8f8

footer
    background-color: #6ebff3
    padding: 30px 0
    .footer-block
        display: flex
        justify-content: flex-end
        align-items: center
        p
            font-size: 22px
            color: #ffffff
            margin-right: 30px
        .btns
            a.main-btn
                margin-right: 15px
                &:last-child
                    margin-right: 0
.login-page
    .login-page__form
        display: flex
        flex-direction: column
        padding: 40px 0 60px
        .input-block
            position: relative
            margin: 10px 0
            input
                width: 100%
                padding: 10px 40px
                font-size: 20px
                color: #8b8b8b
                border: 1px solid #8b8b8b
            svg
                position: absolute
                left: 15px
                top: 17px
                width: 15px
                height: 15px
                fill: #8b8b8b
        input[type='submit']
            background-color: #707070
            color: #ffffff
            font-size: 18px
            text-transform: uppercase
            padding: 10px
            text-align: center
            border: 0
            margin-top: 10px
            &:hover
                background-color: #6ebff3
        a.main-link
            display: inline-block
            margin: 10px auto
        .check_block
            display: flex
            justify-content: center
            align-items: center
            width: 200px
            margin: 0 auto
            span
                font-size: 14px
                color: #8b8b8b
                margin-right: 7px
                font-weight: 400
            input[type='checkbox']
                margin: 0
        p.note
            text-align: center
            color: #8b8b8b
            font-size: 14px
            margin: 10px 0

.page
    padding: 40px 0
    p.colored-title
        padding: 0 0 15px
    p.page-sub-title
        padding: 0 0 30px

.user-top-block
    background: url('/images/b-cabinet-top.jpg') no-repeat center 100%
    -webkit-background-size: cover
    background-size: cover
    .user-info
        padding: 40px 0
        p.name
            font-size: 30px
            text-transform: uppercase
            color: #ffffff
            padding-bottom: 15px
        p.balance
            font-size: 24px
            color: #ffffff
            svg.currency
                width: 14px
                height: 17px
                fill: #ffffff
    p.name-page
        font-size: 42px
        padding: 0 0 25px
        font-weight: 700
        text-transform: uppercase
        color: #ffffff
    .horizontal-menu
        display: flex
        a
            display: inline-flex
            align-items: center
            width: 230px
            background-color: rgba(255, 255, 255, 0.3)
            margin-right: 20px
            b
                background-color: rgba(255, 255, 255, 0.3)
                width: 50px
                height: 50px
                display: inline-flex
                justify-content: center
                align-items: center
                -webkit-transition: 0.3s all
                -moz-transition: 0.3s all
                -ms-transition: 0.3s all
                -o-transition: 0.3s all
                transition: 0.3s all
                margin-right: 20px
                svg
                    width: 30px
                    height: 30px
                    fill: #ffffff
            span
                font-size: 14px
                text-transform: uppercase
                color: #ffffff
                -webkit-transition: 0.3s all
                -moz-transition: 0.3s all
                -ms-transition: 0.3s all
                -o-transition: 0.3s all
                transition: 0.3s all
            &:hover,
            &.active
                background-color: rgba(255, 255, 255, 1)
                b
                    background-color: #6ebff3
                span
                    color: #6ebff3
            &:last-child
                margin-right: 0
.vertical-menu
    a
        background-color: #eaedef
        color: #797d7f
        font-size: 16px
        display: flex
        align-items: center
        width: 230px
        padding: 10px 20px
        margin: 5px 0
        svg
            width: 25px
            height: 25px
            fill: #797d7f
            -webkit-transition: 0.3s all
            -moz-transition: 0.3s all
            -ms-transition: 0.3s all
            -o-transition: 0.3s all
            transition: 0.3s all
            margin-right: 15px
        &:hover,
        &.active
            background-color: #00a513
            color: #ffffff
            svg
                fill: #ffffff

.internal-page-block
    p.title
        font-size: 30px
        padding-bottom: 15px
        color: #35b5eb
        text-transform: uppercase
        text-align: left
    .personal-data
        border: 1px solid #a8adb0
        padding: 20px
        width: 500px
        .input_block
            display: flex
            justify-content: space-between
            align-items: center
            padding: 7px 0
            p
                font-size: 16px
                color: #a8adb0
            b
                font-size: 16px
                color: #a8adb0
                font-weight: 700
    .user-form
        padding: 30px 0 0
        width: 500px
        p.type-name
            font-size: 18px
            font-weight: 700
            color: #35b5eb
            padding: 20px 0
        .input_block
            display: flex
            justify-content: space-between
            align-items: center
            margin: 10px 0
            p
                font-size: 14px
                color: #000000
            input
                padding: 7px 15px
                border: 1px solid #a8adb0
                color: #a8adb0
                font-size: 14px
                width: 300px
        input[type='submit']
            margin: 10px auto
            padding: 7px 20px
            background-color: #707070
            color: #ffffff
            font-size: 18px
            text-transform: uppercase
            text-align: center
            border: 0
            &:hover
                background-color: #6ebff3
    .one-line-form
        display: flex
        justify-content: space-between
        align-items: center
        margin: 15px 0
        input,
        select
            padding: 7px 15px
            border: 1px solid #a8adb0
            color: #a8adb0
            font-size: 14px
        input.summ
            width: 100px
        select
            padding: 6px 15px
        input[type='submit']
            padding: 5px 20px 6px
            background-color: #707070
            color: #ffffff
            font-size: 18px
            text-align: center
            border: 0
            &:hover
                background-color: #6ebff3
        &.short
            justify-content: space-around
            input.summ
                width: auto
    .user-table
        margin: 40px 0
        table
            width: 100%
            text-align: center
            th
                border-bottom: 1px solid #35b5eb
                font-size: 18px
                color: #35b5eb
                padding: 10px 0
                text-align: center
                svg.currency
                    width: 15px
                    height: 15px
                    fill: #35b5eb
            td
                font-size: 16px
                color: #a8adb0
                padding: 5px 0
                &.wide-td
                    background-color: #eaedef
                    color: #000000

    .ref-link
        display: flex
        align-items: center
        background-color: #eaedef
        color: #797d7f
        font-size: 18px
        font-weight: 700
        padding: 10px 15px
        span
            margin-left: 7px
            color: #6ebff3
            font-size: 18px
    .ref-data
        background-color: #eaedef
        display: flex
        flex-direction: column
        margin: 20px 0
        padding: 15px
        .input_block
            display: flex
            justify-content: space-between
            align-items: center
            margin: 10px 0
            p
                color: #797d7f
                font-size: 16px
            b
                font-weight: 700
                color: #000000
                font-size: 16px
                svg.currency
                    width: 10px
                    height: 12px
                    fill: #000000
    .news-block
        display: flex
        flex-direction: column
        .news-item
            display: flex
            flex-direction: column
            border-bottom: 1px solid #35b5eb
            margin-bottom: 30px
            &:last-child
                margin-bottom: 0
                border-bottom: 0
            p.name
                font-size: 22px
                color: #35b5eb
            .description
                img
                    float: right
    form.support
        width: 500px
        input
            width: 48%
            padding: 7px 15px
            border: 1px solid #a8adb0
            color: #a8adb0
            font-size: 14px
            margin: 15px 0 7px
            &:first-child
                margin-right: 16px
        textarea
            width: 100%
            margin: 15px 0
            padding: 7px 15px
            border: 1px solid #a8adb0
            color: #a8adb0
            font-size: 14px
            height: 150px
        input[type='submit']
            margin: 10px auto
            padding: 7px 20px
            background-color: #707070
            color: #ffffff
            font-size: 18px
            text-transform: uppercase
            text-align: center
            border: 0
            &:hover
                background-color: #6ebff3
.user-footer
    background-color: #444a54
    .footer-block
        justify-content: center
        flex-wrap: wrap
        a
            svg
                width: 130px
                height: 40px
                fill: #ffffff
                opacity: 0.8
                -webkit-transition: 0.3s all
                -moz-transition: 0.3s all
                -ms-transition: 0.3s all
                -o-transition: 0.3s all
                transition: 0.3s all
            &:hover
                svg
                    opacity: 1